* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: rgba(var(--text-color), 1);
  background: rgba(var(--background-color), 1);
}
body,
body * {
  --accent-color: rgb(0, 156, 78);
  --text-color: 36, 36, 36;
  --background-color: 248, 248, 248;
  --foreground-color: rgb(255, 255, 255);
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  --yellow: #f3a600;
  scrollbar-width: thin;
}

body[data-theme=dark],
body[data-theme=dark] * {
  --accent-color: rgb(14, 230, 122);
  --text-color: 230, 230, 230;
  --text-color-light: 170, 170, 170;
  --background-color: 10, 10, 10;
  --foreground-color: rgb(24, 24, 24);
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: #ffd13a;
}
body[data-theme=dark] sm-popup::part(popup) {
  background-color: var(--foreground-color);
}

p,
strong {
  font-size: 0.9rem;
  max-width: 70ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.8);
}
p:not(:last-of-type),
strong:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:focus-visible {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
          box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
}

button,
.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.button {
  white-space: nowrap;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  background-color: rgba(var(--text-color), 0.06);
  color: rgba(var(--text-color), 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button--primary {
  background-color: var(--accent-color);
  color: rgba(var(--background-color), 1);
}

.icon-only {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

button:disabled {
  opacity: 0.5;
}

a:-webkit-any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a:-moz-any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

sm-input,
sm-textarea,
tags-input {
  font-size: 0.9rem;
  --border-radius: 0.3rem;
}

sm-button {
  --padding: 0.5rem 0.8rem;
}
sm-button[variant=primary] .icon {
  fill: rgba(var(--background-color), 1);
}
sm-button[disabled] .icon {
  fill: rgba(var(--text-color), 0.6);
}
sm-button.uppercase {
  letter-spacing: 0.05em;
}
sm-button.danger {
  --background: var(--danger-color);
  color: rgba(var(--background-color), 1);
}

ul {
  list-style: none;
}

.hide-completely {
  display: none !important;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breakable {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.full-bleed {
  grid-column: 1/-1;
}

.h1 {
  font-size: 1.5rem;
}

.h2 {
  font-size: 1.2rem;
}

.h3 {
  font-size: 1rem;
}

.h4 {
  font-size: 0.9rem;
}

.h5 {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: grid;
}

.flow-column {
  grid-auto-flow: column;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.ripple {
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: radial-gradient(circle, rgba(var(--text-color), 0.3) 0%, rgba(0, 0, 0, 0) 50%);
  pointer-events: none;
}

.interact {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.empty-state {
  display: grid;
  width: 100%;
  padding: 1.5rem 1rem;
}

.observe-empty-state:empty {
  display: none;
}

.observe-empty-state:not(:empty) + .empty-state {
  display: none;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.8);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.button__icon {
  height: 1.2rem;
  width: 1.2rem;
}
.button__icon--left {
  margin-right: 0.5rem;
}
.button__icon--right {
  margin-left: 0.5rem;
}

.icon-button {
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: rgba(var(--text-color), 0.1);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.icon-button .icon {
  fill: var(--accent-color);
}

#confirmation_popup,
#prompt_popup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#confirmation_popup h4,
#prompt_popup h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#confirmation_popup sm-button,
#prompt_popup sm-button {
  margin: 0;
}
#confirmation_popup .flex,
#prompt_popup .flex {
  padding: 0;
  margin-top: 1rem;
}
#confirmation_popup .flex sm-button:first-of-type,
#prompt_popup .flex sm-button:first-of-type {
  margin-right: 0.6rem;
  margin-left: auto;
}

#prompt_message {
  margin-bottom: 1.5rem;
}

.popup__header {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem 0 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto 1fr auto;
}

.popup__header__close {
  padding: 0.5rem;
  cursor: pointer;
}

.logo {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  grid-template-columns: auto 1fr;
  gap: 0 0.5rem;
  margin-right: 1rem;
}
.logo h4 {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
}
.logo .main-logo {
  height: 1.4rem;
  width: 1.4rem;
  fill: rgba(var(--text-color), 1);
  stroke: none;
}

details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
details[open] > summary {
  margin-bottom: 1rem;
}
details[open] > summary .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

sm-select,
sm-option,
strip-option {
  font-size: 0.9rem;
}

strip-select {
  --gap: 0;
}

strip-option {
  font-weight: 500;
  --border-radius: 0.3rem;
  --active-option-color: var(--accent-color);
}

sm-checkbox {
  --height: 1rem;
  --width: 1rem;
  -webkit-tap-highlight-color: transparent;
}

sm-menu {
  --background: var(--foreground-color);
}

menu-option {
  font-size: 0.9rem;
}

sm-copy {
  font-size: 0.9rem;
  --button-border-radius: 0.2rem;
}

.warning {
  background-color: khaki;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
}

.page {
  height: 100%;
}

.page-layout,
#preview_page {
  display: grid;
  grid-template-columns: 1rem minmax(0, 1fr) 1rem;
}
.page-layout > *,
#preview_page > * {
  grid-column: 2/3;
}

#landing {
  grid-template-rows: auto 1fr;
}
#landing header {
  padding: 1.5rem 0;
}
#landing > section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
#landing h1 {
  margin-top: -2ch;
  font-size: clamp(2rem,5vw,5rem);
}
#landing p {
  max-width: 100%;
}

#sign_in,
#sign_up {
  grid-template-rows: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#sign_in section,
#sign_up section {
  margin-top: -6rem;
  justify-self: center;
  width: min(24rem, 100%);
}
#sign_in sm-form,
#sign_up sm-form {
  margin: 2rem 0;
}
#sign_in header,
#sign_up header {
  padding: 1.5rem 0;
}

#sign_up .h2 {
  margin-bottom: 0.5rem;
}
#sign_up .card {
  margin: 1.5rem 0;
}
#sign_up h5 {
  font-weight: 500;
  color: rgba(var(--text-color), 0.8);
}
#sign_up .warning {
  margin-top: 2rem;
}

#loading {
  place-content: center;
  text-align: center;
}
#loading sm-spinner {
  margin-bottom: 1.5rem;
}

#main_header {
  position: sticky;
  top: 0;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr auto auto;
  grid-column: 1/-1;
  background-color: var(--foreground-color);
  z-index: 2;
}

.label {
  font-size: 0.8rem;
  color: rgba(var(--text-color), 0.8);
  margin-bottom: 0.2rem;
}

.icon--success {
  fill: var(--green);
}

.icon--failure,
.icon--error {
  fill: var(--danger-color);
}

#main_page {
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  height: 100%;
  overflow-y: hidden;
  grid-template-columns: minmax(0, 1fr);
}

#dashboard {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1.5rem 0;
  grid-template-rows: auto 1fr;
}

#publishing_requests {
  padding: 1.5rem 0;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.request-card {
  display: grid;
  gap: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-template-columns: 1fr auto;
}
.request-card__title {
  grid-area: 2/1;
}
.request-card__time {
  font-size: 0.8rem;
}
.request-card .flex {
  grid-row: span 2;
}
.request-card .publish-button {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  font-weight: 700;
}

#preview_popup h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
#preview_popup h3:not(:first-of-type) {
  margin-top: 2rem;
}
#preview_popup h3 {
  margin-bottom: 1rem;
}
#preview_popup h3:not(:first-of-type) {
  margin-top: 3rem;
}
#preview_popup p {
  font-family: "noto serif", serif;
  font-size: 1rem;
}
#preview_popup p > * {
  font-family: inherit;
}

@media screen and (max-width: 40rem) {
  .hide-on-mobile {
    display: none;
  }
}
@supports (-webkit-text-stroke: 1px black) {
  #landing h1 {
    -webkit-text-stroke: 1px rgba(var(--text-color), 1);
    -webkit-text-fill-color: rgba(var(--background-color), 1);
  }
}
@media screen and (min-width: 40rem) {
  sm-popup {
    --width: 24rem;
  }

  h1,
.h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.8rem;
  }

  .h3 {
    font-size: 1.3rem;
  }

  .h4 {
    font-size: 1rem;
  }

  .popup__header {
    grid-column: 1/-1;
    padding: 1rem 1.5rem 0 0.8rem;
  }

  #confirmation_popup {
    --width: 24rem;
  }

  .page-layout {
    grid-template-columns: 1fr 90vw 1fr;
  }

  .hide-on-desktop {
    display: none;
  }

  #landing h1 {
    -webkit-text-stroke-width: 0.1rem;
  }

  #main_header {
    padding: 1rem 1.5rem;
  }

  #preview_popup {
    --width: 60ch;
  }
}
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--text-color), 0.5);
  }

  .interact,
button:not(.button--primary) {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .interact:hover,
button:not(.button--primary):hover {
    background-color: rgba(var(--text-color), 0.1);
  }

  .button--primary {
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  .button--primary:hover {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
  }
}